.container {
  position: relative;
  width: 740px;
  height: 400px;
  overflow: hidden;
}

.content {
  position: absolute;
  top: 0;
}

.scrollbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 400px;
  cursor: pointer;
  background: #888;
  -moz-border-radius: 8;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.thumb {
  position: absolute;
  width: 16px;
  height: 100px;
  cursor: pointer;
  background: #eee;
  -moz-border-radius: 8;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

img {
  vertical-align: middle;
}
