.link {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

.link::after {
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 2px;
  content: '';
  background: #0481a2;
  transition: transform 0.3s, color 0.3s;
  transform: scale(0, 1);
  transform-origin: center top;
}

.link:hover {
  color: #0481a2;
}

.link:hover::after {
  transform: scale(1, 1);
}
