.shine span.mask {
  position: relative;
  display: block;
  overflow: hidden;
  line-height: 0;
}

.shine span.mask::before {
  position: absolute;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  content: '';
  background: linear-gradient(to right, rgb(255 255 255 / 0%) 0%, rgb(255 255 255 / 30%) 100%);
  transform: skewX(-25deg);
}

.shine span.mask:hover::before {
  animation: shine 0.7s;
}

@keyframes shine {
  100% {
    left: 125%;
  }
}
