@function rand($min, $max) {
  @return random() * ($max - $min) + $min;
}

$animation-duration: 1s;
$glitch-duration: 20%;
$glitch-frequency: 10;
$glitch-interval: calc($glitch-duration / $glitch-frequency);
@mixin rgb-shift($name) {
  @keyframes rgb-shift-#{$name} {
    @for $i from 0 to $glitch-frequency {
      #{$i * $glitch-interval} {
        transform: translate(#{rand(-0.01, 0.01) * 0.1%}, #{rand(-0.01, 0.01) * 0.1%});
      }
    }
    #{$glitch-duration},
    100% {
      transform: none;
    }
  }

  animation: rgb-shift-#{$name} $animation-duration alternate forwards;
}
@mixin glitch($name) {
  @keyframes glitch-#{$name} {
    @for $i from 0 to $glitch-frequency {
      $left: 0%;
      $right: 100%;
      $top: rand(0, 90) * 1%;
      $bottom: $top + rand(1, 10) * 1%;
      #{$i * $glitch-interval} {
        clip-path: polygon($left $top, $right $top, $right $bottom, $left $bottom);
        transform: translate(#{rand(-0.1, 0.1) * 1%}, #{rand(-0.5, 0.5) * 1%});
      }
    }
    #{$glitch-duration},
    100% {
      clip-path: none;
      transform: none;
    }
  }

  animation: glitch-#{$name} $animation-duration linear alternate forwards;
}

.glitch {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background: #000 no-repeat center;
  background-size: 0;

  &::before,
  &::after,
  .channel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    background-size: cover;
  }

  &::before {
    content: '';
  }

  &::after {
    content: '';
  }

  .channel {
    mix-blend-mode: screen;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      content: '';
      mix-blend-mode: multiply;
    }
  }

  .r {
    &::before {
      background: #f00;
    }
  }

  .g {
    &::before {
      background: #0f0;
    }
  }

  .b {
    &::before {
      background: #00f;
    }
  }
}

.glitch.active {
  &::before {
    @include glitch(before);
  }

  &::after {
    @include glitch(after);
  }

  .r {
    @include rgb-shift(r);
  }

  .g {
    @include rgb-shift(g);
  }

  .b {
    @include rgb-shift(b);
  }
}
